<div id="button" class="zI4 pAbsolute col-2 vHidden">
    <div>
        <a href=""><button class="button">Click & collect</button></a>
    </div>
    <div>
        <a href=""><img src="{{ asset('img/profil.png') }}" alt=""><button class="button">Mon compte</button></a>
        <a href=""><img src="{{ asset('img/inscription.png') }}" alt=""><button class="button">Inscription</button></a>
    </div>
</div>