<div id="alcoholWarning" class="zI6">
    <div class="text-center" id="modal">
        <p>Etes vous majeur, L’abus d’alcool est dangereux pour la santé. À consommer avec modération.</p>
        <a id="ok"><p>OK</p></a>
    </div>
</div>