<div id="alcoholWarning" class="zI6">
    <div class="text-center" id="modal">
        <p>Etes vous majeur, L’abus d’alcool est dangereux pour la santé. À consommer avec modération.</p>
        <div class="flex">
            <a id="ok"><p>OK</p></a>
            <a id="no"><p>NO</p></a>
        </div>
    </div>
</div>