<div class="pAbsolute right col-4">
    <div class="pAbsolute right col-2 flex"> 
        <p>
            <a href="#">FR
                <img class="col-40" src="{{ asset('img/fr.jpg') }}" alt="drapeau français">
            </a>
        </p>
        <p class="space">|</p>  
        <p> 
            <ul>
                <li class="uk">
                    <a href="#" class="lT zI4">EN 
                        <img class="col-40" src="{{ asset('img/uk.jpg') }}" alt="drapeau royaume-uni">
                    </a>
                    <ul  id="hiddenEnglish" class="pAbsolute right vHidden">
                        <li class="uk">
                            <span>
                                <img class="cSoon col-0" src="{{ asset('img/cSoon.jpg') }}" alt="">
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
</div>