<div id="banner">
    {# <p>fond : video / photo / caroussel / dessin</p> #}
    <div id="onTitle" class="flex">
        <div class="col-2">
            <div id="brasserie" class="brasserie zI2">
                <div><p class="title">B</p></div>
                <div></div>
                <div><p class="title2">r</p></div>
                <div><p class="title">a</p></div>
                <div><p class="title2">s</p></div>
                <div><p class="title">s</p></div>
                <div><p class="title2">e</p></div>
                <div><p class="title">r</p></div>
                <div><p class="title2">i</p></div>
                <div><p class="title">e</p></div>
            </div>
            <div id="brasseriePlus" class="brasserie zI2">
                <div><p class="title2">B</p></div>
                <div></div>
                <div><p class="title3">r</p></div>
                <div><p class="title2">a</p></div>
                <div><p class="title3">s</p></div>
                <div><p class="title2">s</p></div>
                <div><p class="title3">e</p></div>
                <div><p class="title2">r</p></div>
                <div><p class="title3">i</p></div>
                <div><p class="title2">e</p></div>
            </div>
        </div>
        <div class="col-2">
            <div id="sauvage" class="sauvage zI2">
                <div><p class="title2">S</p></div>
                <div><p class="title4">A</p></div>
                <div><p class="title2">U</p></div>
                <div><p class="title4">V</p></div>
                <div><p class="title2">A</p></div>
                <div><p class="title4">G</p></div>
                <div><p class="title2">E</p></div>
            </div>
            <div id="sauvagePlus" class="sauvage zI2">
                <div><p class="title5">S</p></div>
                <div><p class="title2">A</p></div>
                <div><p class="title5">U</p></div>
                <div><p class="title2">V</p></div>
                <div><p class="title5">A</p></div>
                <div><p class="title2">G</p></div>
                <div><p class="title5">E</p></div>
            </div>
        </div>
    </div>
    <div id="button" class="zI2">
        <div>
            <button class="button">Click & collect</button>
        </div>
        <div>
            <button class="button">Mon compte</button>
            <button class="button">Inscription</button>
        </div>
    </div>
    <img id="canette" src="{{ asset('img/canette.png') }}" class="zI2" alt="">
    <div id="square"  class="zI2"></div>
    {# <img id="design1" src="{{ asset('img/design1.png') }}" alt=""> #}
    {# <canvas id="canvas" class="zI1"><canvas> #}
    
</div>