
{% extends 'base.html.twig' %}

{% block body2 %} 
    <div class="container">
        <div id="shopPresent">
            <h2>Click & Collect</h2>
            <h5>{{ beers|length }} bières en vente.</h5>
            <div>
            {% for beer in beers %}
                {{ include('shop/info_shop_beer.html.twig') }}
            {% endfor %} 
            </div>
        </div> 
        {{ include('shop/basket_shop.html.twig') }}
    </div>
{% endblock %}
