<div id="menu">
    <ul class="flex jcSpace">
        <li>Accueil</li>
        <li>La Brasserie</li>
        <li>Nos bières</li>
        <li>Nos engagements</li>
        <li class="pRelative">Actualités
            <ul class="hiddenMenu pAbsolute">
                <li>Tendances</li>
                <li>Créations</li>
                <li>Projets</li>
                <li>Press Ressource</li>
                <li>Gallerie</li>
            </ul>
        </li>
        <li>Boutique
            <ul class="hiddenMenu pAbsolute">
                <li>Produits dérivés</li>
            </ul>
        </li>
        <li>Contact</li>
    </ul>
</div>